<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Laptop Checkout</title>
  </head>
  <body>
      <header>
          <h1>Laptop Checkout</h1>
      </header>
      <form action = "/checkouts" method = "POST">
				<input type="text" name="checkout[userName]" placeholder="Name">
				<input type="text" name="checkout[mgrName]" placeholder="Manager Who Approved">
				Date Checked Out: <input type="date" name="checkout[checkoutDate]" value="<%= new Date().toISOString().substring(0, 10) %>">
				ETA of Return: <input type="date" name="checkout[etaDate]" value="<%= new Date().toISOString().substring(0, 10) %>">
        <input type="text" name="checkout[serialNum]" placeholder="Serial Number">
        <button>Submit</button>
			</form>
			<ul class="list">
        <% checkouts.forEach(function(checkout){ %>
          <li>
            <strong>Name:</strong> <%= !checkout.userName ? "N/A" : checkout.userName %> 
            <strong>Manager Who Approved:</strong> <%= !checkout.mgrName ? "N/A" : checkout.mgrName %>
            <strong>Date Checked Out:</strong> <%= !checkout.checkoutDate ? "N/A" : checkout.checkoutDate.toLocaleDateString("en-US", { timeZone: 'UTC' }) %>
            <strong>ETA of Return:</strong> <%= !checkout.etaDate ? "N/A" : checkout.etaDate.toLocaleDateString("en-US", { timeZone: 'UTC' }) %>
            <strong>Serial Number:</strong> <%= !checkout.serialNum ? "N/A" : checkout.serialNum %>
            <form action = "/checkouts/<%= checkout._id %>?_method=DELETE" method = "POST">
              <button>Delete</button>
            </form>
            <form action = "/checkouts/<%= checkout._id %>/edit" method = "GET">
              <button>Edit</button>
            </form>
          </li>
        <% }); %>
      </ul>
  </body>
</html>